<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Ran-Net</title>

	<!-- Icons core CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<% include ../Fixed/DefaultHead.ejs %>

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<a class="navbar-brand" href="/home">RanNet</a>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/uploads">Uploads</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/downloads">Downloads</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/chat">Chat</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ocr">OCR</a>
					</li>
				</ul>

				<ul class="navbar-nav">
					<!-- PROFILE DROPDOWN - scrolling off the page to the right -->
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">
							Profile
						</a>
						<div class="dropdown-menu" aria-labelledby="navDropDownLink">
							<a class="dropdown-item" href="/preferences">Preferences</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/logout">Logout</a>
						</div>
					</li>
				</ul>

			</div>
		</div>

	</nav>

	<br>
	<br>
	<br>
	<br>
	<div class="container">

		<div class="jumbotron">
			<h2>Downloads!</h2>
			<p>Lista com todos os arquivos armazenados no servidor:.</p>


			<table class="table table-striped table-dark">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Data</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					<%if (donwloadslist) { %>
					<% for(var i=0; i<donwloadslist.length; i++) { %>
					<tr>
						<td>
							<%= i %>
						</td>
						<td>
							<%= donwloadslist[i].nome %>
						</td>
						<td>
							<%= donwloadslist[i].data %>
						</td>
						<td class="actions">
							<a class="fa fa-download" href="/downloadfile/<%= donwloadslist[i].link %>" target="_blank"> Baixar</a>
							<a class="fa fa-trash" href="/deletefile/<%= donwloadslist[i].link %>" target="_blank"> Apagar</a>
						</td>
					</tr>
					<% } %>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>